<div class="categories">
  <nav class="categories-nav text-center">
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
      {% capture category_slug %}{{ category | first }}{% endcapture %}
      {% for c_slug in category_slug %}
        {% if c_slug == page.categories %}
          <button class="btn btn-sm btn-space btn-outline-dark active">{{ c_slug }}</button>
        {% else %}
          <a href="/category/{{ c_slug }}" class="btn btn-sm btn-space btn-outline-dark">{{ c_slug }}</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </nav>
</div>
