<div class="row gdpr-disclaimer">
  <div class="col-12 text-center">
    <span class="disclaimer-text align-middle"></span>
    <button data-agree="yes"
      class="btn btn-sm btn-primary disclaimer-agree align-middle d-block d-lg-inline ml-lg-3">
      <i class="fa fa-check"></i> Agree
    </button>
  </div>
  <div class="col-12 text-center">
    <small>
      This agreement will be save in local storage which is built in to your browser.
      You are in power to remove all cookies and local storage data at any time.
    </small>
  </div>
</div>
