<div class="share-page">
  <span style="float: left;">Share this on &rarr;&nbsp;&nbsp;</span>

  <!-- Twitter -->
  <a class="twitter-share-button"
     href="https://twitter.com/intent/tweet?via={{ site.share.twitter_username }}&text={{ page.title }}&url={{ site.url }}{{ page.url }}&hashtags={{ page.tags  | join:',' }}">
    <i class="fab fa-twitter"></i> Tweet
  </a>
  <script>
    document.querySelectorAll('.twitter-share-button').forEach(item => item.href = decodeURIComponent(item.href))
  </script>

  <script>window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

  <!-- Facebook -->
  <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count"
       style="position: relative; top: -8px; left: 3px;"></div>
</div>

<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={{ site.share.fb_appid }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
