<nav>
  <h1><a href="/">{{ site.data.theme.name }}</a></h1>
  <h3><small>{{ site.data.theme.nickname }}</small></h3>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="https://s.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Photography of my face with yellow colours as my blog logo">
    {% endif %}
  </a>
  <h2>{{ site.data.theme.tagline }}</h2>
  <div id="bio">
    <p><strong>One of the Avengers</strong></p>
    <p><strong>My superpower</strong> <br> improving the Internetz!</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>