---
layout: default
---
<div class="row">
  <div class="col-12 text-center">
    <nav class="nav-category">
      {% assign tags = site.tags | sort %}
      {% for tag in tags %}
        <span class="site-tag">
          <a href="/tag/{{ tag | first | slugify }}/"
             class="btn btn-primary btn-sm"
             style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
              {{ tag[0] | replace:'-', ' ' }}
              <span class="badge badge-pill">{{ tag | last | size }}</span>
          </a>
        </span>
      {% endfor %}
    </nav>
  </div>
</div>

<article class="post">
  <header>
    <h1>Articles by category: {{ page.title }}</h1>
  </header>
  <div class="row">
    <div class="col">{{ content }}</div>
  </div>
  <div class="content">
    {% if site.categories[page.categories] %}
      {% for post in site.categories[page.categories] %}
        {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if forloop.first %}
            <h4>{{ post_year }}</h4>
            <div class="list-group">
        {% endif %}

        {% if forloop.first == false %}
          {% assign previous_index = forloop.index0 | minus: 1 %}
          {% capture previous_post_year %}{{ site.categories[page.categories][previous_index].date | date: '%Y' }}{% endcapture %}
          {% if post_year != previous_post_year %}
            </div>
            <h4>{{ post_year }}</h4>
            <div class="list-group">
          {% endif %}
        {% endif %}
          <ul class="posts">
            <li><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></li>
          </ul>
        {% if forloop.last %}
          </div>
        {% endif %}
      {% endfor %}
    {% else if page.categories == nil %}
      <p>Select category from above.</p>
    {% else %}
      <p>There are no posts in this category.</p>
    {% endif %}
  </div>
</article>
