---
layout: default
---

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <span class="time">{{ page.date | date_to_string }}</span>
  {% if page.categories %}
    <span class="categories">
      <i class="fas fa-angle-double-right"></i>
      {% for category in page.categories %}
        <a href="/category/{{ category }}">{{ category }}</a>
      {% endfor %}
      <strong>|</strong>
    </span>
    <span class="tags">
      {% for tag in page.tags %}
        <a href="/tag/{{ tag }}">#{{ tag }}</a>
      {% endfor %}
    </span>
  {% endif %}
  <div class="content">
    {{ content }}
  </div>

  <div class="spacer-line"></div>

  <div class="row">
    <div class="col-12 col-lg-8">
      {% assign hasSimilar = '' %}
      {% for post in site.posts  %}
        {% assign postHasSimilar = false %}
          {% for tag in post.categories %}
            {% for thisTag in page.categories %}
              {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
                <div class="panel-body">
                  <h4>Related Posts</h4>
                  <ul>
                {% endif %}
                    <li class="relatedPost">
                      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                      {% if post.categories %}
                        (Categories: {% for category in post.categories %}
                        <a href="/category/{{ category }}">{{ category }}</a>
                        {% if forloop.last == false %}, {% endif %}{% endfor %})
                      {% endif %}
                    </li>
              {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
              {% assign postHasSimilar = true %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
      {% if hasSimilar.size > 0 %}
      </ul>
      </div>
      {% endif %}
    </div>
    <div class="col-12 col-lg-4">
      <h4>Tags cloud</h4>
      {% include tags-cloud.html %}
    </div>
  </div>

  <div class="navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{ page.previous.url }}">
        <i class="fas fa-angle-double-left"></i>
        {{ page.previous.title }}
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{ page.next.url }}">
        {{ page.next.title }}
        <i class="fas fa-angle-double-right"></i>
      </a>
    {% endif %}
  </div>

  <div class="disqus-comments">
    <div id="disqus-gdpr" class="row gdpr-disclaimer">
    <div class="col-sm-12 col-md-10 col-xl-11">
      <span class="disclaimer-text align-middle"></span>
    </div>
    <div class="col-sm-12 col-md-2 col-xl-1 text-center">
      <button class="btn btn-sm btn-primary disclaimer-agree align-middle">
        <i class="fa fa-check"></i> Agree
      </button>
    </div>
  </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = "{{ site.disqus_shortname }}";
      var disqus_identifier = "{{ site.url }}_{{ page.title }}";
      var disqus_title = "{{ page.title }}";
    </script>
  </div>
</article>
